/* ////////////////////////////////////////////////////////////////////////////////////////// */
.col-form-label {
    font-family: Lato !important;
}

.btn {
    font-family: Lato !important;
}

.accpg-2-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(42, 42, 42, 0.5);
    /* margin-top: 27px; */
}
@media (max-width:469px){
    .bdayHome {
        position: absolute;
        margin: 10px -34px;
    }
    .tickHome {
        position: absolute;
        margin: 10px -34px;
    }
    
}
@media (min-width:469px){
    .bdayHome {
        position: absolute;
        margin: 10px -34px;
    }
    .tickHome {
        position: absolute;
        margin: 10px -34px;
    }
    
}

@media (min-width:469px) and (max-width:494px){
    #btn1{
   font-size: 0.85rem !important;
    }
    #btn2{
        font-size: 0.85rem !important;
    }
}
@media (min-width:768px) and (max-width:1200px){
    .accpg2-btn3{
        font-size: 20px;
    }
   
}
@media (min-width:1200px) and (max-width:1600px) {
    .accpg2-btn3{
        font-size: 20px;
    }
   
}
@media (min-width:1600px) and (max-width:2000px) {
    .accpg2-btn3{
        font-size: 22px;
    }
   
}
@media (min-width:2000px) {
    .accpg2-btn3{
        font-size: 25px;
    }
   
}


.accpg1-progilerect {
    box-sizing: border-box;
    width: 304px;
    height: 526px;
    background: #FFFFFF;
    border: 1px solid #EE6000;
    border-radius: 48px;
}

.accpg1-rect1 {
    box-sizing: border-box;
    width: 100%;
    /* height: 279px;
margin-top: 20px; */
    background: #FFFFFF;
    border: 1px solid #EE6000;
    border-radius: 48px;
}

.accpg1-rectline {
    width: 98%;
    margin-top: 2rem;
    /* left: 390px;
top: 567px; */
    /* border: 0.5px solid #2A2A2A; */
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}

.accpg1-card1 {
    margin-top: 50px;

}

.accpg1-card2 {
    margin-top: 50px;
}

.accpg1-cardtitle1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #2A2A2A;
}

.accpg1-confirm-earning {
    padding-top: 30px;
    padding-left: 45px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* text-align: center; */
    letter-spacing: 0.035em;
    color: #2A2A2A;
}

.sideLabel {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* text-align: center; */
    letter-spacing: 0.035em;
    color: #2A2A2A;
}

.accpg1-rect2 {
    box-sizing: border-box;
    width: 100%;
    /* height: 738px; */
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #EE6000;
    border-radius: 72px;
}

.accpg1-profilepic {
    width: 196px;
    height: 96px;
    margin-top: 20px;
    margin-left: 90px;
}

.accpg1-editphoto {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-left: 20px;
    margin-top: 20px;
    color: #2A2A2A;
    opacity: 0.8;
    text-decoration: none;
}

.accpg1-karansharma {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2A2A2A;
    margin-left: 0px;
}

.accpg1-list {
    list-style: none;
    margin-top: 60px;
    margin-left: 10px;
    padding: 40px;
    line-height: 45px;
    letter-spacing: 0.035em;
}

/* .accpg1-list li{
    text-decoration: none !important;
} */
ul.accpg1-ul {
    list-style: none;
    text-decoration: none !important;
    padding: auto;
}

.accpg1-personalinfo {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.035em;
    color: #2A2A2A;
    padding-top: 30px;
    padding-left: 45px;
}

.accpg1-line3 {
    /* border: 0.5px solid #2A2A2A; */
    margin-top: 2rem;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.accpg1-btn1 {
    /* margin-left:  27rem;
    margin-top: 2rem; */
    background: #EE6000;
    border-radius: 9px;
    margin-right: 3rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.035em;

    color: #FFFFFF;
}


.accpg1-btn2 {
    /* margin-left: 4rem;
    margin-top: 2rem; */
    margin-right: 20rem;
    background: #FFFFFF;
    border: 0.5px solid #EE6000;
    border-radius: 9px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    text-align: center;
    letter-spacing: 0.035em;

    color: #EE6000;
}

.accpg1-legend-gender {
    padding-right: 7rem;
}

.check-gender {
    padding-left: 7.5rem !important;
}

.gen {
    padding-right: 5rem;
}

.accpg1-form {
    /* padding-left: 5rem;
    padding-top: 2rem; */
    padding: 69px 96px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.035em;
    color: #2A2A2A;
    text-align: left;
}

.as {
    padding-bottom: 1.5rem !important;
}

.accpg1-inp {
    background: #FFFFFF;
    /* input text inner shadow */

    box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.25), inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    margin-left: 5rem;
}

.accpg2-two-btn {
    float: right;
    padding-top: 1rem;
    /* padding-right: 8rem; */
}

.accpg1-btn3 {
    background: #FFFFFF;
    /* Main color 1 */

    border: 0.5px solid #EE6000;
    border-radius: 18px;
    /* width: 318px;
height: 48px;
margin-left: 10rem;
padding-left: 10rem; */
    padding: 0.5rem 12rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.035em;

    /* Main color 1 */

    color: #EE6000;
}

.accpga-btn {
    padding: 1rem 6rem;
}

.btn3 {
    /* margin-top: 2rem; */
}

.accpg3-form {
    padding: 40px 55px;
    text-align: start;
}

.btn-align {
    text-align: center;
}

@media (max-width: 468px) {
    .accpg3-form {
        padding: 40px 10px;
        text-align: center;
    }

    .check-form {
        margin-left: -20px !important;
    }
}

.form-grou {
    padding-left: 10rem;
}

.form-check {
    display: inline-block;
    min-height: 1.5rem;
    /* padding-left: 1.5em; */
    /* margin-bottom: 0.125rem; */
    justify-content: center;

}

.check-form {
    /* margin-left: 32px; */
}
.tick{
    position: absolute;
    top: 58.5rem;
    right: 20rem;
}
.birthday{
    position: absolute;
    top: 43.5rem;
    right: 20rem; 
}
.vl1 {
    border-left: 0.5px solid rgba(0, 0, 0, 0.3);
    height: 162px;
    position: absolute;
    left: 50%;
    margin-left: 11rem;
    margin-top: 248px;
    top: 0;
    /* border: 0.5px solid rgba(0, 0, 0, 0.3); */
}

.form {
    padding-bottom: 2rem;
}

.accpg1-card-text {
    /* margin-left: 10rem; */
    text-align: center;
    /* padding-left: 14rem; */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: 0.035em;

    color: #2A2A2A;
}

.accpg1-gender {
    display: flex;
    padding-right: 7rem;
}

.accpg1-femail {
    padding-left: 3rem;
}

.accpg1-last-btn {
    text-align: center;
    /* padding-right: 11rem; */
    padding-left: 5.5rem;
}

.p-whole {
    padding: 40px 30px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: rgba(42, 42, 42, 0.6);

}

.breadcrumb-item.active {
    text-decoration: none;
    color: black;

}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, ">");
}

.breadcrumb {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: rgba(42, 42, 42, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}