.play-back-img{
    position: relative;
width: 100%;
}
.play-kling{
    position: absolute;
/* width: 35.86px;
height: 44.52px; */
left: 48px;
top: 26px;
}
.play-shop2cash{
    position: absolute;
left: 97px;
top: 34px;

font-family: 'Martel Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}
.play-myacc{
    position: absolute;
left: 85.33%;
right: 8.33%;
top: 40px;
bottom: 8.33%;
}
.play-myacc-text{
    position: absolute;
/* width: 105px;
height: 20px; */
left: 1307px;
top: 38px;
text-decoration: none;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* text-align: center; */
color:#FFFFFF;
}
.header-text{
    position: absolute;
width: 1163px;
height: 77px;
left: 166px;
top: 206px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;
text-align: center;
letter-spacing: 0.035em;
color: #FFFFFF;
}
.play-back-img1{
    position: absolute;
width: 546px;
height: 321px;
left: 162px;
top: 646px;
background: radial-gradient(50% 50% at 50% 50%, #FFDFEC 0%, #FD92D6 100%);
border-radius: 48px;
}
.play-footer-1{
    position: absolute;
width: 546px;
height: 143px;
left: 162px;
top: 824px;
background: rgba(0, 0, 0, 0.8);
border-radius: 0px 0px 48px 48px;
}
.play-img-1{
    position: absolute;
width: 101px;
height: 141.75px;
left: 384px;
top: 682px;
}
.img-1-text1{
    position: absolute;
width: 177px;
height: 29px;
left: 350px;
top: 859px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.055em;
color: #FFFFFF;
}
.img-1-text2{
    position: absolute;
width: 132px;
height: 38px;
left: 353px;
top: 904px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.055em;
color: #FFFFFF;
}
.play-arrow-1{
    position: absolute;
left: 34.33%;
right: 36.83%;
top: 920px;
bottom: 25%;
}
.play-back-img2{
    position: absolute;
width: 546px;
height: 321px;
left: 732px;
top: 646px;

border-radius: 48px;
}
.play-footer-2{
    position: absolute;
width: 546px;
height: 143px;
left: 732px;
top: 824px;

background: rgba(0, 0, 0, 0.8);
border-radius: 0px 0px 48px 48px;
}
.play-img-2{
    position: absolute;
width: 392px;
height: 179.11px;
left: 809px;
top: 646px;
}
.img-2-text1{
    position: absolute;
width: 198px;
height: 29px;
left: 916px;
top: 859px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;
letter-spacing: 0.055em;
color: #FFFFFF;
}
.img-2-text2{
    position: absolute;
width: 132px;
height: 38px;
left: 920px;
top: 904px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.055em;
color: #FFFFFF;
}
.play-arrow-2{
    position: absolute;
left: 73.33%;
right: 35.83%;
top: 920px;
bottom: 25%;
}
.play-back-3{
    position: absolute;
width: 546px;
height: 321px;
left: 165px;
top: 991px;

background: rgba(0, 0, 0, 0.8);
border-radius: 48px;
}
.comming-soon-1{
    position: absolute;
width: 317px;
height: 43px;
left: 279px;
top: 1130px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 43px;
text-align: center;
letter-spacing: 0.055em;
color: #FFFFFF;
}
.play-back-4{
    position: absolute;
width: 546px;
height: 321px;
left: 732px;
top: 991px;

background: rgba(0, 0, 0, 0.8);
border-radius: 48px;
}
.comming-soon-2{
    position: absolute;
width: 317px;
height: 43px;
left: 846px;
top: 1130px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 43px;
text-align: center;
letter-spacing: 0.055em;

color: #FFFFFF;
}
.f-line{
    position: absolute;
width: 100%;
height: 2px;
left: 0px;
top: 1646px;
border: 0.8px solid #2A2A2A;
}
.play-copy{
    position: absolute;
left: 32.00%;
right: 8.34%;
top: 1670px;
bottom: 8.33%;

}
.play-foter-text{
    position: absolute;
width: 393px;
height: 24px;
left: 535px;
top: 1670px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #2A2A2A;
}

.pg-end-line{
    border:  0.8px solid #2A2A2A;
}
.pg-last-line{
    display: flex;    
    justify-content: center;
    border-radius: 50%;
    margin-top: 1rem;
}
.pg-end-text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2A2A2A;
    /* text-align: center; */
    padding-left: 1rem;
}
.pg-myacc{
    position: absolute;
    top: 2rem;
    right: 4rem;    
}
.pg-myacc li a{
    color: white !important;
    text-decoration: none;
}
/* .play2-back-img{
    width: 100%;
    background-image: url(/public/play.png);
} */
@media (max-width:1440px) and (min-width:1024px){
    .header-text{
        /* font-size: 37px;
        left: -115px; */
        width: 73%
    }
    .pg-myacc{
        top: 26px;
    right: 34px;
    }
}
@media (max-width:1024px) and (min-width:768px){
    .header-text{
        font-size: 37px;
        left: -167px;
    top: 7rem;
    }
    .play-back-img{
          width: 100%;
    }
    .pg-myacc{
        top: 13px;
        right: 10px;
    }
}

@media (max-width:768px) and (min-width:425px){
    .header-text{
        font-size: 28px;
    left: -115px;
    top: 62px;
    width: 154%;
    }
    .play-back-img{
          
    }
    .play-kling{
        width: 5%;
    margin-left: -30px;
    margin-top: -15px;
    }
    .play-shop2cash{
        font-size: 14px;
    margin-left: -52px;
    margin-top: -30px;
    }
    .pg-myacc{
        top: -28px;
    right: 0px;
    }
}

@media (min-width:375px) and (max-width:425px){
    .header-text{
        font-size: 23px;
    left: -115px;
    top: 45px;
    width: 164%;
}
.play-kling{
    width: 5%;
margin-left: -30px;
margin-top: -15px;
}
    .pg-end-text{
        font-size: 16px;
    }
    .play-shop2cash{
        font-size: 14px;
    margin-left: -52px;
    margin-top: -30px;
    }
    .pg-myacc{
        top: -28px;
    right: 0px;
    }
}

@media (min-width:320px) and (max-width:375px){
    .pg-myacc{
        top: -28px;
    right: 0px;
    }
    .pg2-cards{

    }
    .pg2-cards-2{

    }
    .play-kling{
        width: 5%;
    margin-left: -30px;
    margin-top: -15px;
    }
    .play-shop2cash{
        font-size: 14px;
    margin-left: -52px;
    margin-top: -30px;
    }
    .pg-end-text{
        font-size: 16px;
    }
    .header-text{
        font-size: 20px;
    left: -115px;
    top: 45px;
    width: 164%;
    }
    .play-back-img{
        width: 100%;
    }
    .play2-back-img{
        width: 100%;
    }

}